
.login {
    width: 400px;
    background: rgb(155, 63, 63);
    width: 30vw;
    height: 60vh;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.login > input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 95%;
    font-size: 1rem;
}

.login > .button {
    background: white;
    border: 1px solid #1877f2;
    color: black;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}